---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=0ea7b3ab84f1eacde4897b5e62d8e006&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628373543,"sunrise":1628337889,"sunset":1628388393,"temp":301.03,"feels_like":300,"pressure":1005,"humidity":26,"dew_point":279.78,"uvi":4.87,"clouds":28,"visibility":10000,"wind_speed":7.19,"wind_deg":330,"wind_gust":8.52,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1628373600,"precipitation":0},{"dt":1628373660,"precipitation":0},{"dt":1628373720,"precipitation":0},{"dt":1628373780,"precipitation":0},{"dt":1628373840,"precipitation":0},{"dt":1628373900,"precipitation":0},{"dt":1628373960,"precipitation":0},{"dt":1628374020,"precipitation":0},{"dt":1628374080,"precipitation":0},{"dt":1628374140,"precipitation":0},{"dt":1628374200,"precipitation":0},{"dt":1628374260,"precipitation":0},{"dt":1628374320,"precipitation":0},{"dt":1628374380,"precipitation":0},{"dt":1628374440,"precipitati[...]
