---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=BHz3viihx4lluXWAkz8ykAr2gassWjqQ&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 08 Aug 2021 00:57:08 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=BHz3viihx4lluXWAkz8ykAr2gassWjqQ&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1163122758"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=BHz3viihx4lluXWAkz8ykAr2gassWjqQ&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1376168337"}]}]}'
  recorded_at: Sun, 08 Aug 2021 00:57:08 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=0ea7b3ab84f1eacde4897b5e62d8e006&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628384229,"sunrise":1628337889,"sunset":1628388393,"temp":298.54,"feels_like":297.92,"pressure":1017,"humidity":30,"dew_point":279.73,"uvi":0.26,"clouds":5,"visibility":10000,"wind_speed":0.45,"wind_deg":352,"wind_gust":4.02,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1628384280,"precipitation":0},{"dt":1628384340,"precipitation":0},{"dt":1628384400,"precipitation":0},{"dt":1628384460,"precipitation":0},{"dt":1628384520,"precipitation":0},{"dt":1628384580,"precipitation":0},{"dt":1628384640,"precipitation":0},{"dt":1628384700,"precipitation":0},{"dt":1628384760,"precipitation":0},{"dt":1628384820,"precipitation":0},{"dt":1628384880,"precipitation":0},{"dt":1628384940,"precipitation":0},{"dt":1628385000,"precipitation":0},{"dt":1628385060,"precipitation":0},{"dt":1628385120,"precipitati[...]
